:root {
    --white: #fff;
    --greydark: #636363;
    --darkGrey: #414042;
    --darkerGrey: #1f1f1f;
    --lightBlack: #111111;
    --yellowgreen: #a8b911;
    --grey: rgb(151, 150, 150);
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
}

.outer-container {
    width: 350px;
    margin: auto;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 45px;
    overflow: hidden;
}

.outer-container>div {
    flex: 1;
    padding: 10px;
}

.outer-container .carousel-wrapper p, .carousel-item {
    font-size: 20px;
    color: var(--grey);
    font-family: "DIN Pro";
    line-height: 1.3;
}

.carousel-inner {
    position: relative;
    max-height: 130px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner>.active {
    color: var(--yellowgreen);
    font-family: "DIN Pro";
}

.carousel-item {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    top: 58px;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.text {
    background-color: var(--darkGrey);
    z-index: 1;
    padding-left: 8px;
    padding-right: 8px;
}

.carousel-item.visible {
    opacity: 1;
}

.carousel-item:focus {
    outline: none;
}

.horizontalLineText {
    background-color: var(--grey);
    width: 100%;
    height: 1px;
    margin-top: -15px;
    margin-bottom: 12px;
}

.horizontalLineTextDown {
    background-color: var(--grey);
    width: 85%;
    height: 1px;
    margin-top: -15px;
    margin-bottom: 12px;
}

.horizontalLineTextUp {
    background-color: var(--grey);
    width: 75%;
    height: 1px;
    margin-top: -15px;
    margin-bottom: 12px;
}

.modeContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.mode {
    color: var(--white);
    margin-top: -13px;
    background-color: var(--darkGrey);
    font-family: "DIN Pro";
    width: 80px;
    z-index: 2;
    margin-bottom: -10px;
}

.horizontalLine {
    background-color: var(--grey);
    width: 95%;
    height: 1px;
    margin-top: 5px;
}

.horizontalLineDown {
    background-color: var(--grey);
    width: 75%;
    height: 1px;
    margin-top: 5px;
}

.horizontalLineUp {
    background-color: var(--grey);
    width: 85%;
    height: 1px;
    margin-top: 5px;
}

/* Volume Component */

.volumeBox {
    height: 410px;
    margin-left: 50px;
    width: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    background-color: transparent;
    border: 1px solid var(--white);
    padding-bottom: 15px;
}

.fullBar {
    width: 50px;
    height: 1px;
    margin-top: 15px;
    background-color: var(--white);
}

.halfBar {
    width: 25px;
    height: 1px;
    margin-top: 15px;
    background-color: var(--white);
}

.barBox {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.lineBox {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: -30px;
}

.squareboxDiv {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    height: 405px;
    margin-left: -12px;
}

.squarebox {
    width: 18px;
    height: 18px;
    background-color: var(--darkerGrey);
}

.line {
    width: 8px;
    height: 405px;
    background-color: var(--darkerGrey);
}

.controller {
    background-color: var(--lightBlack);
    width: 50px;
    height: 90px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.controller:focus {
    outline: none;
}

.horizontalLine {
    height: 2px;
    background-color: var(--greydark);
}

.horizontalLinebold {
    width: 40px;
    height: 6px;
    margin-top: 5px;
    background-color: var(--greydark);
}

/* SubMix  */

.submixBox {
    width: 305px;
    height: 50px;
    background-color: var(--lightBlack);
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 0 5px;
}

.barBoxsubmix {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.fullBarsubmix {
    width: 1px;
    height: 35px;
    margin-right: 3px;
    background-color: var(--grey);
}

.halfBarsubmix {
    width: 1px;
    height: 20px;
    margin-right: 2px;
    background-color: var(--grey);
}

.submixController {
    background-color: var(--lightBlack);
    width: 40px;
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.submixController:focus {
    outline: none;
}

/* Resonance */

.resonanceBox {
    margin-left: 20px;
}

.backRound {
    background-color: var(--lightBlack);
    border-radius: 70px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.mixer {
    background: url(./assets/images/mixer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.round {
    background: url(./assets/images/round-g.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-top: -1px;
    margin-left: -2px;
}

/* Focus */

.focus-container {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.focus-outer-container {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 45px;
    overflow: hidden;
    padding: 20px;
}

.switchDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.switch {
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.onBar {
    width: 50px;
    height: 10px;
    border-radius: 10px;
}

.react-switch-handle {
    border: 2px solid #231f20 !important;
    margin-top: -2px;
}

.react-switch-handle:active {
    outline: none !important;
}

.focus-title {
    color: var(--white);
    font-family: "DIN Pro";
    margin-top: 8px;
}

/* languages */

.languagesBlackBox {
    width: 70%;
    height: 150px;
    background-color: var(--lightBlack);
    margin-bottom: 10px;
    transform: rotate(180deg);
  
}

.languagesBlackBoxInner{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.languagesBox {
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50px;
    width: 370px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: transparent;
    border: 1px solid var(--white);
    padding-bottom: 15px;
}

.languagesBarBox {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.languagesFullBar {
    width: 1px;
    height: 50px;
    margin-right: 12px;
    background-color: var(--white);
}

.languagesHalfBar {
    width: 1px;
    height: 25px;
    margin-right: 12px;
    background-color: var(--white);
}

.languagesLineBox {
    display: flex;
    flex-direction: row;
    margin-top: -28px;
}

.languagesLine {
    width: 270px;
    height: 8px;
    background-color: var(--darkerGrey);
}

.languagesSquareboxDiv {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 280px;
    margin-left: -280px;
    margin-top: -5px;
}

.languagesSquarebox {
    width: 18px;
    height: 18px;
    background-color: var(--darkerGrey);
}

.languagesController {
    background-color: var(--lightBlack);
    width: 60px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.languagesController:focus {
    outline: none;
}

.languagesHorizontalLine {
    background-color: var(--grey);
    width: 1px;
}

.languagesHorizontalLinebold {
    width: 6px;
    height: 40px;
    background-color: var(--greydark);
}

.languageTextdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.languageText{
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.languageLine{
    width: 60%;
    height: 2px;
    margin-top: 2px;
}

.enDiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}